@import '../../Constants/variables.scss';

.cw-toolbar {
    display: block;
    width: 220px;
    min-height: 300px;
    background: $settingsBG;
    color: #efefef;
    overflow: auto;
    .tools {
        display: grid;
        grid-template-columns: fit-content(50%) fit-content(50%);
        
        grid-gap: 5px;
        .tool-item {
            cursor: grab;
            svg {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
}