/* add css module styles here (optional) */

.canvas-workflow {
    display: flex;

    .cw-wrapper {
        flex: 1 1 auto;
        margin: 0 5px;
        overflow: auto;

        canvas {
            display: block;
            user-select: none;
        }
    }
}
