@import './../../Constants/variables.scss';

.cw-settings {
    display: block;
    width: 250px;
    min-height: 300px;
    background: $settingsBG;
    color: #efefef;
    overflow: auto;

    .section {
        .title {
            padding: 5px 10px;
            margin-bottom: 5px;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            color: #c3c3c3;
            background: $settingsTabBG;
        }
        .controls {
            padding: 10px;
            .form-group {
                display: flex;
                .form-control {
                    display: flex;
                    flex-direction: column;
                    flex: 1 1;
                    font-size: 16px;
                    margin-bottom: 7px;

                    label {
                        font-size: 13px;
                        margin: 5px 2px;
                    }

                    input, textarea {
                        display: block;
                        padding: 0.5rem;
                        font: inherit;
                    }
                }
            }
        }
    }
}