@import './../../Constants/variables.scss';

.cw-settings {
    display: block;
    padding-bottom: 20px;
    width: 240px;
    min-height: 300px;
    max-height: calc( 100vh - 20px );
    background: $settingsBG;
    font-size: 14px;
    color: #efefef;
    overflow: auto;
    .form-group {
        display: flex;
        .form-control {
            display: flex;
            flex-direction: column;
            flex: 1 1;
            font-size: 14px;
            margin-bottom: 5px;

            &.inline {
                flex-direction: row;
                align-items: center;
            }

            label {
                font-size: 13px;
                margin: 5px 0;
            }

            > input, textarea, select {
                display: block;
                padding: 0.4rem 0.3rem;
                font: inherit;
            }

            .rc-slider {
                margin-bottom: 5px;
            }

            .full-width {
                flex: 1 1 auto;
            }
        }
    }

    button {
        display: flex;
        align-items: center;
        border: none;
        border-radius: 3px;
        padding: 3px 5px;
        transition: all .3s ease;
        cursor: pointer;

        &.btn-danger {
            color: $dangerColor;
            &:hover {
                color: darken($dangerColor, 10);
            }
        }

        &.btn-link {
            background: transparent;
        }

        &.btn-subtle {
            background: transparent;
            &.btn-danger {
                color: $dangerColor;
                &:hover {
                    background: darken($dangerColor, 5);
                    color: #efefef;
                }
            }
            &.btn-primary {
                color: $primaryColor;
                &:hover {
                    background: darken($primaryColor, 5);
                    color: #efefef;
                }
            }
            &.btn-success {
                color: $successColor;
                &:hover {
                    background: darken($successColor, 5);
                    color: #efefef;
                }
            }
        }

        &.btn-lg {
            font-size: 1rem;
            padding: 5px 7px;
        }
    }
}