@import './../../Constants/variables.scss';

.cw-settings {
    display: block;
    width: 240px;
    min-height: 300px;
    background: $settingsBG;
    color: #efefef;
    overflow: auto;

    .form-group {
        display: flex;
        .form-control {
            display: flex;
            flex-direction: column;
            flex: 1 1;
            font-size: 14px;
            margin-bottom: 5px;

            &.inline {
                flex-direction: row;
                align-items: center;
            }

            label {
                font-size: 13px;
                margin: 5px 0;
            }

            > input, textarea, select {
                display: block;
                padding: 0.4rem 0.3rem;
                font: inherit;
            }

            .rc-slider {
                margin-bottom: 5px;
            }
        }
    }
}