# This is a basic workflow to help you get started with Actions

name: Deploy Git Page

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      
      - name: Yarn CLI
        uses: CultureHQ/actions-yarn@v1.0.1
      
      - name: Build Package
        run: yarn
        
      - name: Build Example Page
        run: yarn run predeploy
        
      - name: Deploy Page
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: example/build
